<html>
  <head>
  <link rel="icon" type="image/png" href="/static/favicon.ico"> 
  <link rel="stylesheet" type="text/css" href="static/site.css" />
  <!--
	<link rel="stylesheet" href="/static/blue/style.css" type="text/css"/>
	<link rel="stylesheet" href="/static/jquery.tablesorter.pager.css" type="text/css"/>
	-->
  
  <title>Ipaloam Unity3D DB Deploy</title>
  </head>
  <body>  
  <div class="main">
  <div class="center">
      <form method="post" action="/login">
      <table  align="center" style="width: 220px;">         
      <tr><td>用户: </td><td><input name="username" type="text"/></td></tr>
      <tr><td>密码: </td><td><input name="password" type="password"/></td></tr>
      <tr><td></td>
          <td>
              <!--<input name="remember" type="checkbox"/><span>记住我</span>-->
              <input type="submit" value="登录"/>
          </td>
      </tr>
      </table>
      </form> 
  </div> 
  </div>
  </body>
</html>